
.vs/Snap/v14/.suo
./Snap/bin
./Snap/obj
./Snap lite/bin
./Snap lite/obj
Snap lite/Snap lite.csproj.user

Snap lite/bin/Debug/Snap lite.exe

Snap lite/bin/Debug/Snap lite.exe.config

Snap lite/bin/Debug/Snap lite.pdb

Snap lite/bin/Debug/Snap lite.vshost.exe

Snap lite/bin/Debug/Snap lite.vshost.exe.config

Snap lite/bin/Debug/Snap lite.vshost.exe.manifest

Snap lite/bin/Release/Snap lite.exe

Snap lite/bin/Release/Snap lite.exe.config

Snap lite/bin/Release/Snap lite.pdb

Snap lite/bin/Release/Snap lite.vshost.exe

Snap lite/bin/Release/Snap lite.vshost.exe.config

Snap lite/bin/Release/Snap lite.vshost.exe.manifest

Snap lite/obj/Debug/DesignTimeResolveAssemblyReferences.cache

Snap lite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Snap lite/obj/Debug/Snap lite.csproj.FileListAbsolute.txt

Snap lite/obj/Debug/Snap lite.csproj.GenerateResource.Cache

Snap lite/obj/Debug/Snap lite.exe

Snap lite/obj/Debug/Snap lite.csprojResolveAssemblyReference.cache

Snap lite/obj/Debug/Snap lite.pdb

Snap lite/obj/Debug/Snap_lite.Properties.Resources.resources

Snap lite/obj/Debug/Snap_lite.select.resources

Snap lite/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

Snap lite/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

Snap lite/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

Snap lite/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Snap lite/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache

Snap lite/obj/Release/Snap lite.csproj.FileListAbsolute.txt

Snap lite/obj/Release/Snap lite.csproj.GenerateResource.Cache

Snap lite/obj/Release/Snap lite.exe

Snap lite/obj/Release/Snap lite.pdb

Snap lite/obj/Release/Snap_lite.Properties.Resources.resources

Snap lite/obj/Release/Snap_lite.select.resources

Snap lite/obj/Release/TempPE/Properties.Resources.Designer.cs.dll

Snap lite/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

Snap lite/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Snap lite/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

Snap/Snap.csproj.user

Snap/bin/Debug/Snap.exe

Snap/bin/Debug/Snap.exe.config

Snap/bin/Debug/Snap.pdb

Snap/bin/Debug/Snap.vshost.exe.config

Snap/obj/Debug/DesignTimeResolveAssemblyReferences.cache

Snap/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Snap/obj/Debug/Snap.csproj.FileListAbsolute.txt

Snap/obj/Debug/Snap.Properties.Resources.resources

Snap/obj/Debug/Snap.csprojResolveAssemblyReference.cache

Snap/obj/Debug/Snap.csproj.GenerateResource.Cache

Snap/bin/Debug/Snap.vshost.exe.manifest

Snap/obj/Debug/Snap.options.resources

Snap/bin/Debug/Snap.vshost.exe

Snap/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

Snap/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

Snap/obj/Debug/Snap.select.resources

Snap/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Snap/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

Snap/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache

Snap/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Snap/obj/Release/TempPE/Properties.Resources.Designer.cs.dll

Snap/obj/Debug/Snap.pdb

Snap/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

Snap/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

Snap/obj/Debug/Snap.exe
